.select-item{
    background-color: #C4C4C4;
    width: 40%;
    height: 88px;
    padding: 15px;
    border-radius: 10px;
}
.b-c-t{
    background-color: transparent;

}
.select-item-wrapper{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
.select-item-wrapper-home{
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
}
.c-p{
    background-color: #9B4BB0;
    color: #fff;
}
.select-icon{
line-height: 22px;
color: #9B4BB0;
}
.select-text{

}

.course-select-row{
    height: 320px;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: solid 1px rgb(104, 104, 104);
}
.course-part{
    height: 100%;
    width: 100%;

}
.course-part-image{
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-image:  url('../access/images/photo-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #C4C4C4;
    border-bottom: solid 1px rgb(104, 104, 104);
}
.course-part-detail{
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
}
.open-course{
    padding: 2%;
    background-color: #9B4BB0;
    border-radius: 15px;
    font-size: 1em;
    color: #fff;
}
.open-online{
    padding: 2%;
    background-color: #FFC00F;
    border-radius: 15px;
    font-size: 1em;
    color: #fff;
}
.course-name{
    font-size: 1.250em;
}
.course-time{
    font-size: 1em;
}
.course-hour {
    font-size: 1em;
}

/* swict */


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input.default:checked + .slider {
    background-color: #444;
  }
  input.primary:checked + .slider {
    background-color: #2196F3;
  }
  input.success:checked + .slider {
    background-color: #8bc34a;
  }
  input.info:checked + .slider {
    background-color: #3de0f5;
  }
  input.warning:checked + .slider {
    background-color: #FFC107;
  }
  input.danger:checked + .slider {
    background-color: #f44336;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* end swict */