ul {
    list-style-type: none;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Prompt', sans-serif;
    /* background: rgb(253,116,155);
    background: linear-gradient(180deg, rgba(253,116,155,1) 0%, rgba(113,26,200,1) 90%);
background-repeat: no-repeat; */

}

.wraper-login{
    height: 100%;
    width: 100%;
    /* background-size: 100%; */
    /* background-attachment: fixed; */
    /* background: rgb(253,116,155);
    background: linear-gradient(180deg, rgba(253,116,155,1) 0%, rgba(40,26,200,1) 72%); */
}
.bg-login{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-size: 100%; */
    /* background-attachment: fixed; */
    background: rgb(253,116,155);
    background: linear-gradient(180deg, rgba(253,116,155,1) 0%, rgba(40,26,200,1) 72%);


    /* background-image:  url('../access/images/photo-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px; */
}
.img-login{

    position: absolute;
    top:17%;
    left: 15%;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-login1{
    width: 100%;
height: 100%;

    /* background-color: #fff; */

    background-image:  url('../access/images/photo-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.form-login2{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 40px;
    font-family: 'Prompt', sans-serif;

    padding: 3% 8% 5% 8%;
}
.form-login2 h1{
    font-weight: bold;
    font-size: 1.5em;
    background: -webkit-linear-gradient(#FD749B, #281ACB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: inear-gradient(180deg, rgba(253,116,155,1) 0%, rgba(40,26,200,1) 65%);; */
}
.h1-page{
    font-weight: bold;
    font-size: 1.5em;
    background: -webkit-linear-gradient(#FD749B, #281ACB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-login2 p{
    font-weight: 400;
    font-size: 1em;
}

.email-login{
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
}
.re-password{
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    cursor: pointer;
}
.register-text{
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    cursor: pointer;
}
.password-login{
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
}
.btn-login{
    height: 55px;
    width: 150px;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    border-radius: 50px;
    outline: none;
    background: rgb(253,116,155);

}

.btn-facebook{
    height: 54px;
    width: 150px;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    border-radius: 50px;
    outline: none;
    background: rgba(19,1,227,1);

}



/* -------------------------------- sigup page ---------------------------------------- */

.form-sigup1{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    float: left;

    /* background-image:  url('../access/images/photo-2.png'); */
    background-repeat: no-repeat;
    border-radius: 20px;
}
.form-sigup2{
    width: 100%;
    height: auto;

    background-color: #fff;
    border-radius: 40px;
    font-family: 'Prompt', sans-serif;

    padding: 3% 3% 3% 3%;
}
.p-and{
    height: 55px;
    line-height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}
/* -------------------------------- END sigup page ---------------------------------------- */

/* --------------------------------  COURSE ---------------------------------------- */
.course-banner{
    height: 540px;
    width: 100%;
    background-color: #f1f1f1;
}
.course-search{

    width: 100%;
    background-color: #fff;
}
.course-popular{

    width: 100%;
    background-color: #c515c6;

}
.course-all{

    width: 100%;
    background-color: rgb(255, 255, 255);

}
.course-pop-name{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.875em;
}

.b-image{
    position: absolute;
    width: 160px;
    height: 106px;
    background-color: #000;
    opacity: 0.3;
}
.text-c{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/* -------------------------------- END COURSE ---------------------------------------- */

.dsad{
    width: 230px;
    height: 230px;
    margin-bottom: 20px;
    background-color: #69299C;
    border-radius: 20px;

}
.image-home{
    position: absolute;
    left: 40px;
    top:-30px;


}
.herobanner{
background-image: url('/access/images/hero-banner-1.png') ;
background-repeat: no-repeat;
background-size: cover;
height: 50vh;
}

.dropshadow{
    text-shadow: -4px 4px 3px rgba(0, 0, 0, 1);

}


/* <<<<<<<< insutition >>>>> */

.insutition-all{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 255px;
    border-radius: 20px 20px 0 0px;
    border: solid 1px #D3D3D3;

}

.text-insutition{

    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    border-bottom: solid 1px #D3D3D3;
    border-left: solid 1px #D3D3D3;
    border-right: solid 1px #D3D3D3;
}
.b-r{
    border-radius: 50%;
}
/* <<<<<<<< insutition end >>>>> */

/* <<<< PORTFOLIO +++++ */
.people-port{
    /* position: absolute; */
    height: 140px;
    width: 140px;
    position: absolute;
    /* padding-bottom: 40px; */
    top: 40%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #5e5e5e;

}

.text-over{
    text-overflow: ellipsis;
}
/* home  */

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .ntc-test{
      width: 100px;
      height: 100px;
      background-color: #281ACB;
  }
  .ntc-test:nth-child(1){
    background-color: #cb1a7b;
  }
  .ntc-test:nth-child(2){
    background-color: #1acb40;
  }
  .ntc-test:nth-child(3){
    background-color: #d85f26;
  }
/* home end */

.text-over{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:140px /* fallback */
}
.text-over-2{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:55px /* fallback */
}
.outline-none{
    outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.custom-dialog{
    width: 500px;
    height: 500px;
}

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.success-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

#about-text  li:nth-of-type(1n+9){
    display: none;

}

#addimageLimit li:nth-of-type(1n+9){
    display: none;
}


/* <<< hover image delete >>> */
.con-img {
    /* position: relative; */
    width: 100%;
    height: 150px;

  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .3s ease;
    background-color: #000;
    border-radius: 10px;
  }
  .con-img:hover .overlay {
    opacity: 0.6;
    cursor: pointer;
  }
  .overlayresulut {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 90%;
    opacity: 0;
    transition: .3s ease;
    background-color: #000;
    border-radius: 10px;
  }
  .con-img:hover .overlayresulut {
    opacity: 0.6;
    cursor: pointer;
  }
.overred{

    background-color: red;
width: 40px;
height: 40px;
border-radius: 30px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);


}

  .icon {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .fa-user:hover {
    color: #eee;
  }

/* hover image delete */

/* border */
.border-input{
    padding: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:groove;
    border-color: #f1f1f1;
    outline: none;
    width: 100%;
    /* border-style: none; */
}
/* border */

.scrollDiv {
    height: 100vh;
    max-height:auto;
    overflow:auto;
}

.about-course{
    /* height: 250px; */
    padding: 20px 10px; line-height: 28px;
}


.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle:active,
.bootstrap-select>.dropdown-toggle:focus,
.bootstrap-select>.dropdown-toggle:hover {
    background-color: #fff;
    border: none !important;
    outline: none !important;
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active,
.bootstrap-select .btn
 {
    outline: none !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
    /* background-color: #fff; */
    border: none !important;
    outline: none !important;
    outline-offset: 0;
    outline: 0;
}
.show>.btn-light.dropdown-toggle {
    background-color: #fff;
    border: none !important;
    outline: none !important;
    outline-offset: 0;
    outline: 0;
}
.show>.btn-light.dropdown-toggle:active {
    background-color: #fff;
    border: none !important;
    outline: none !important;
    outline-offset: 0;
    outline: 0;
}
.show>.btn-light.dropdown-toggle:focus {
    background-color: #fff;
    border: none !important;
    outline: none !important;
    outline-offset: 0;
    outline: 0;
}
.bootstrap-select>.dropdown-toggle{
    /* background-color: #fff; */
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    outline-offset: 0;
    outline: 0;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}

.bg-search{
    width: 88.2%;
    height: 44px;
    background-color: rgb(176, 176, 176);
    border-radius: 8px;
}

.userview{
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.54);
-moz-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.54);
box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.54);
}
.user-img{
    border-radius: 20px;
}

.table thead th {
    border-bottom: 0px solid #dee2e6;
}


.table td, .table th {
    border-top: 0px solid #dee2e6;
}
